# Core
torch
transformers
accelerate
numpy

# STT
openai-whisper
onnxruntime
sounddevice
silero-vad

# TTS
piper-tts

# Audio utils
scipy
soundfile

# Optional / helpful
tqdm
pyyaml
librosa
colorama
bitsandbytes>=0.41.1
accelerate>=0.25.0
